/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #6EF4B4;
  --ion-color-primary-rgb: 45, 211, 111;
  --ion-color-primary-contrast: #1D1F1D;
  --ion-color-primary-contrast-rgb: 29,31,29;
  --ion-color-primary-shade: #5EBF91;
  --ion-color-primary-tint: #9AFFCF;

  /** secondary **/
  --ion-color-secondary: #E7C3F3;
  --ion-color-secondary-rgb: 231,195,243;
  --ion-color-secondary-contrast: #1D1F1D;
  --ion-color-secondary-contrast-rgb: 29,31,29;
  --ion-color-secondary-shade: #E6B1F8;
  --ion-color-secondary-tint: #F1D9F9;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #1D1F1D;
  --ion-color-dark-rgb: 29,31,29;
  --ion-color-dark-contrast: #eeeeee;
  --ion-color-dark-contrast-rgb: 238,238,238;
  --ion-color-dark-shade: #111111;
  --ion-color-dark-tint: #292B29;

  /** medium **/
  --ion-color-medium: #2A2C2A;
  --ion-color-medium-rgb: 42,44,42;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #212121;
  --ion-color-medium-tint: #444444;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** leaf **/
  --ion-color-leaf: #69bb7b;
	--ion-color-leaf-rgb: 105,187,123;
	--ion-color-leaf-contrast: #444444;
	--ion-color-leaf-contrast-rgb: 0,0,0;
	--ion-color-leaf-shade: #5ca56c;
	--ion-color-leaf-tint: #78c288;


  /** components **/
  --ion-color-base: #888888;
  --ion-font-family: 'Bai Jamjuree', sans-serif;
  --ion-background-color: #1D1F1D;
  --ion-background-color-rgb: 244, 245, 248;
  --ion-border-color: #1D1F1D;
  --ion-text-color: #dedede;
  
  --ion-tab-bar-background: #1D1F1D;
  --ion-tab-bar-border-color: #1D1F1D;
  --ion-tab-bar-color: #555555;
  --ion-tab-bar-color-selected: #eeeeee;

  --ion-toolbar-background: #1D1F1D;
  --ion-toolbar-border-color: #1D1F1D;

  --ion-item-background: #1D1F1D;
  --ion-item-border-color: #1D1F1D;
  --ion-overlay-background-color: #1D1F1D;

  --ion-background-color: #1D1F1D;
	--ion-background-color-rgb: 29,31,29;

	--ion-text-color: #eeeeee;
	--ion-text-color-rgb: 238,238,238;

	--ion-color-step-50: #272927;
	--ion-color-step-100: #323432;
	--ion-color-step-150: #3c3e3c;
	--ion-color-step-200: #474847;
	--ion-color-step-250: #515351;
	--ion-color-step-300: #5c5d5c;
	--ion-color-step-350: #666766;
	--ion-color-step-400: #717271;
	--ion-color-step-450: #7b7c7b;
	--ion-color-step-500: #868786;
	--ion-color-step-550: #909190;
	--ion-color-step-600: #9a9b9a;
	--ion-color-step-650: #a5a6a5;
	--ion-color-step-700: #afb0af;
	--ion-color-step-750: #bababa;
	--ion-color-step-800: #c4c5c4;
	--ion-color-step-850: #cfcfcf;
	--ion-color-step-900: #d9d9d9;
	--ion-color-step-950: #e4e4e4;

  
}

