.fixed-header {
 position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.ion-fab-button {
  --background: #D9D9D911;
  --background-activated: #D9D9D933;
  --background-hover: #D9D9D922;
  --border-radius: 14px;
  --color: #E6E6E6;
  box-shadow: 0px 0px 0px #ffffff00;
}

.calendar-card {
  --background: #ffffff11;
  border-radius: 12px;
  margin: 3.5% 3%;

}

.sack-header {
  width: 100%;
  padding: 20px 0px 10px 0px;
  text-align: center;
  font-size: 21px;

}

.sack-fab {
  font-weight: 800;
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  right: 20px;
}