
.timeHeaderBar {
  background-color: #222222bb;
  backdrop-filter: blur(9px);
  padding: 2vh 3vh;
  width: 100%;
  font-size: min( max(20px, 5.6vw), 32px );
  position: absolute;
  top:0;
  z-index:1001
}


.fixed-header {
 position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.ion-fab-button {
  --background: #D9D9D911;
  --background-activated: #D9D9D933;
  --background-hover: #D9D9D922;
  --border-radius: 14px;
  --color: #E6E6E6;
  box-shadow: 0px 0px 0px #ffffff00;
}

.calendar-card {
  --background: #ffffff11;
  border-radius: 12px;
  margin: 3.5% 3%;

}

.sack-header {
  width: 100%;
  padding: 26px 0px 20px 3vh;
  font-size: 32px;

}

.sack-fab {
  font-weight: 800;
  font-size: 16px;
  position: fixed;
  top: 0px;
  right: 0px;
}